@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrow.eot");
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Caption'), url('../fonts/PTC55F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Narrow'), url('../fonts/PTN57F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans'), url('../fonts/PTS55F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Caption Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Caption Bold'), url('../fonts/PTC75F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Narrow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Italic'), url('../fonts/PTS56F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Bold'), url('../fonts/PTS75F.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Bold Italic'), url('../fonts/PTS76F.woff') format('woff');
}