@charset "UTF-8";

@font-face {
  font-family: "slovodelu";
  src:url("../fonts/slovodelu.eot");
  src:url("../fonts/slovodelu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/slovodelu.woff") format("woff"),
    url("../fonts/slovodelu.ttf") format("truetype"),
    url("../fonts/slovodelu.svg#slovodelu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "slovodelu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "slovodelu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "b";
}
.icon-check-mark-3:before {
  content: "a";
}
.icon-cancel:before {
  content: "c";
}
.icon-cross-mark:before {
  content: "d";
}
.icon-cancel-1:before {
  content: "e";
}
