h4 {
    font-weight: bold;
}

.btn-baner,
.btn-baner:focus {
    border-color: #dbdbdb;
}

.inner-box a:first-child {
    background-color: #39a3e1;
}

.inner-box a:first-child + * {
    background-color: #017bc3;
}

.inner-box a:first-child + * + * {
    background-color: #ffa02f;
}

.inner-box a:first-child + * + * + * {
    background-color: #ff8b00;
}

.inner-box a:first-child + * + * + * + * {
    background-color: #66b3e1;
}

.inner-box a:first-child + * + * + * + * + * {
    background-color: #256a92;
}

.carousel-indicators .active .indicator {
    left: 47%;
}

/*.carousel-control.left span {
    background: url(../img/carousel-control-previous-ie8.png) no-repeat;
}

.carousel-control.right span {
    background: url(../img/carousel-control-next-ie8.png) no-repeat;
}

.nbs-flexisel-nav-left {
    background: url(../img/carousel-control-previous-ie8.png) no-repeat;
}

.nbs-flexisel-nav-right {
    background: url(../img/carousel-control-next-ie8.png) no-repeat;
}*/

input[type="checkbox"] {
    display: block;
}

.checkbox INPUT[type='checkbox'] {
    margin-left: 0;
}

input[type="checkbox"] + label:before {
    display: none;
}

.member-questions-list > li > a > div.img-circle,
.question-column > .img-circle {
    background: url(../img/SpriteMap.png) no-repeat;
    background-position: -270px -5px;
}

.question-chat > li.answer > .popup {
    width: 95%;
    border: 1px dashed #f9f9f9;
}

/*.news-card > li > .news-card-content.camera .news-card-text:before {
    background-image: url("../img/foto-ie8.png");
}

.news-card > li > .news-card-content.video .news-card-text:before {
    background-image: url("../img/camera-ie8.png");
}

.question-line.active > .question-column > .count {
    background: url("../img/icon-chat-border-ie8.png") no-repeat 0;
}

.question-line.active > .question-column > .count {
    background: url("../img/icon-chat-border-active-ie8.png") no-repeat 0;
}*/

.banner-forth > .content {
    background-color: rgb(231, 237, 241);
    filter: alpha(opacity=90);
}

input.form-control {
    padding-top: 8px;
}

.form-control,
.btn {
    min-height: 5px;
    height: 40px;
}

.btn-dropdown,
.btn-dropdown:focus {
    min-width: 174px;
}

.btn-link {
    min-height: inherit;
    height: 50px;
}

.popup {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#e7e4dc', Direction=45, Strength=6) progid : DXImageTransform . Microsoft . Shadow(color = '#e7e4dc', Direction = 135, Strength = 6) progid : DXImageTransform . Microsoft . Shadow(color = '#e7e4dc', Direction = 225, Strength = 6) progid : DXImageTransform . Microsoft . Shadow(color = '#e7e4dc', Direction = 315, Strength = 6);
    position: relative;
    top: -12px;
    left: -12px;
    zoom: 0;
}

.nbs-flexisel-item img {
}

.nbs-flexisel-item a:hover img {
}

.news-card-content:hover {
}

.banner-third {
    min-height: 150px;
}

.left-panel > button {
    margin: 0 0 32px;
}

.profile > h1 > a {
    font-weight: 100;
    letter-spacing: 1px;
}
