@import "fonts.css";
@import "icon.css";

body {
	background-color: #f0eee6;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: PTSansNarrowBold;
	font-size: 34px;
	color: #171d20;
	line-height: 44px;
	margin: 10px 0;
}

h2 {
	font-family: PTSansNarrowBold;
	font-size: 26px;
	color: #171d20;
	line-height: 36px;
}

.psevdo-h2 {
	font-family: "PT Sans";
	font-size: 22px;
	color: #171d20;
	line-height: 28px;
}

h3 {
	font-family: "PT Sans Bold";
	font-size: 18px;
	color: #171d20;
	line-height: 24px;
}

.psevdo-h3 {
	font-family: "PT Sans Bold";
	font-size: 18px;
	line-height: 24px;
}

h4 {
	font-family: "PT Sans Bold";
	font-size: 14px;
	color: #171d20;
	line-height: 20px;
}

a {
	color: #017ac3;
}

a.no-underline, a.no-underline:hover {
	text-decoration: none !important;
}

a, input,
a > div > p,
a > p,
.btn-default,
.btn-baner,
.btn-inverse,
.btn-default,
.btn-dropdown,
.carousel-card > span {
	transition: all 0.25s;
}

a:focus {
	outline: none !important;
}

.main-style-text {
	font-family: "PT Sans";
	font-size: 18px;
	color: #171d20;
	line-height: 24px;
}

.basic-text {
	font-family: "PT Sans";
	font-size: 14px;
	color: #171d20;
	line-height: 20px;
}

.secondary-text {
	font-family: "PT Sans";
	font-size: 14px;
	color: #9f9f9f;
	line-height: 20px;
}

.container.wrap {
	min-height: calc(100vh - 120px - 320px);
	display: block;
	position: relative;
}

.glyphicon.glyphicon-refresh {
	position: relative;
	font-size: 18px;
	padding-left: 5px;
	top: 5px;
	margin: -3px 0;
}

.btn {
	border-radius: 3px;
	min-height: 40px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	box-shadow: none;
}

.btn-default,
.btn-default:focus {
	background: transparent;
	color: #017ac3;
	border-color: #78b4d4;
	font-family: "PT Sans Bold";
	font-size: 14px;
	line-height: 20px;
}

.btn-default:hover {
	color: #ff8a00;
	border-color: #ff8a00;
	background: transparent;
}

.btn-default:active:focus {
	color: #ffffff;
	background-color: #ff8a00;
	border-color: #ff8a00;
	box-shadow: none;
}

.btn-link,
.btn-link:focus {
	background: #ffffff;
	border: none;
	text-decoration: none;
	color: #017ac3;
	padding: 15px;
	line-height: 20px;
	border-radius: 0;
}

.btn-link:hover {
	color: #ff8a00;
	background: #ffffff;
	text-decoration: none;
	border: none;
}

.btn-link:active:focus {
	background: #ffffff;
	box-shadow: none;
}

.btn-link:active:focus * {
	color: #ff8a00;
}

.btn-inverse,
.btn-inverse:focus {
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
	font-family: "PT Sans Bold";
	font-size: 14px;
	line-height: 20px;
}

.btn-inverse:hover {
	color: #017ac3;
	border-color: #017ac3;
	background: transparent;
}

.btn-inverse:active:focus {
	color: #017ac3;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: none;
}

.btn-primary,
.btn-primary:focus {
	font-family: "PT Sans Bold";
	font-size: 14px;
	background: linear-gradient(#7eb9db, #037bc3);
	border: none;
	min-width: 120px;
}

.btn-primary:hover {
	background: linear-gradient(#0190e7, #017bc5);
}

.btn-primary:active:focus {
	background: #017ac3;
}

.btn-search,
.btn-search:focus {
	border: none;
	background: none;
	font-size: 18px;
	color: #9f9f9f;
	padding-left: 0;
	padding-right: 0;
	height: 40px;
}

.btn-search:hover {
	color: #ff8a00;
}

.btn-search:active {
	box-shadow: none;
	color: #017ac3;
}

.btn-dropdown,
.btn-dropdown:focus {
	color: #323e45;
	background: linear-gradient(#ffffff, #eeeeee);
	border-color: #ccc8b2;
	min-width: 200px;
	text-align: left;
	white-space: inherit;
}

.btn-dropdown:hover {
	border-color: #696868;
}

.btn-dropdown:active {
	color: #323e45;
	background: linear-gradient(#ffffff, #eeeeee);
	border-color: #017ac3;
}

.btn-baner,
.btn-baner:focus {
	font-family: "PT Sans Bold";
	font-size: 14px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	min-width: 120px;
}

.btn-baner:hover {
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none;
}

.btn-baner:active {
	background-color: #ffffff;
	color: #ff8a00;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.btn-accessory {
	font-size: 10px;
	padding: 5px 0 0 10px;
}

.dropdown-accessory {
	float: right;
	font-size: 10px;
	padding: 5px 0 0 10px;
}

.dropdown-menu.dropdown-triangle:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	position: absolute;
	right: 50px;
	top: -10px;
	border-color: transparent transparent #ffffff transparent;
}

.dropdown-menu {
	min-width: 100%;
	max-width: 250px;
	border-radius: 0;
	white-space: nowrap;
	padding-top: 0;
	border: none;
}

.navbar .navbar-nav .open .dropdown-menu {
	border-radius: 0;
	border: none;
}

.nav-item.dropdown a .show-on,
.btn-group > button > .show-on {
	display: block;
}

.nav-item.dropdown a .show-off,
.btn-group > button > .show-off {
	display: none;
}

.nav-item.dropdown.open a .show-on,
.btn-group.open > button > .show-on {
	display: none;
}

.nav-item.dropdown.open a .show-off,
.btn-group.open > button > .show-off {
	display: block;
}

.settings-publication .dropdown-toggle .show-on,
.login > .dropdown-toggle > .show-on {
	display: inline-block;
}

.settings-publication .dropdown-toggle .show-off,
.login > .dropdown-toggle > .show-off {
	display: none;
}

.settings-publication .dropdown-toggle.collapsed .show-on,
.login.open > .dropdown-toggle > .show-on {
	display: none;
}

.settings-publication .dropdown-toggle.collapsed .show-off,
.login.open > .dropdown-toggle > .show-off {
	display: inline-block;
}

.dropdown-menu > li > a {
	display: block;
	padding: 10px 10px;
	color: #017ac3;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dropdown-menu li:hover a,
.dropdown-menu li a:hover {
	background-color: #ff8a00;
	color: #ffffff;
	cursor: pointer;
}

.bottom-border,
.bottom-border:hover,
.bottom-border:focus {
	border-bottom: 1px solid #d6d3c4;
}

.navbar {
	margin: 0;
}

.header-navbar {
	background-color: #017ac3;
	border: none;
	border-radius: 0;
}

.header-navbar .navbar-toggle {
	border: 1px solid #ffffff;
	margin-top: 15px;
}

.header-navbar .navbar-brand {
	width: 121px;
	height: 70px;
	background: url("../img/sprite-map.png") no-repeat;
	background-position: 0 -150px;
	padding: 0;
	margin: 0 0 0 15px !important;
}

.header-navbar .navbar-nav > li {
	margin: 10px 0;
}

.header-navbar .navbar-nav > li > a,
.header-navbar .navbar-nav > li > a:focus {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.nav.navbar-nav.navbar-right > li > a {
	padding-left: 30px;
	padding-right: 0;
}

.header-navbar .navbar-nav li a .glyphicon-user {
	padding-right: 10px;
	color: #80bde1;
}

.header-navbar .navbar-nav > li > a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.header-navbar .navbar-nav .login {
	margin: 10px 0 10px 10px;
	padding-top: 11px;
}

.header-navbar .navbar-nav .login > a {
	padding: 0;
}

.header-navbar .navbar-nav .login .img-circle {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 10px;
	vertical-align: middle;
}

.login-accssory {
	font-size: 10px;
	padding: 5px 0 0 10px;
}

.navbar-brand > img {
	width: 100%;
}

.header-navbar .icon-bar {
	color: #ffffff;
	border: 2px solid;
}

.sub-navbar {
	background-color: #ffffff;
	margin-bottom: 25px;
	border: none;
	border-radius: 0;
}

.header.fixed > .navbar.sub-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	border-bottom: 1px solid #d6d3c4;
}

.header.fixed {
	padding-bottom: 82px;
}

.sub-navbar .navbar-collapse {
	position: relative;
}

.sub-navbar .navbar-nav > li {
	padding: 0 15px;
}

.sub-navbar .navbar-nav > li > a {
	padding: 15px 0;
}

.sub-navbar .navbar-nav > li a.glyphicon {
	color: #9f9f9f;
}

.sub-navbar .navbar-nav > li a.glyphicon:hover {
	color: #ff8a00;
}

.sub-navbar .navbar-nav > li > a:hover,
.sub-navbar .navbar-nav > li > a:focus,
.sub-navbar .navbar-nav > li > a.dropdown-toggle:hover {
	background-color: transparent;
	text-decoration: none;
	color: #017ac3;
}

.sub-navbar .navbar-nav > li.active > a {
	border-bottom: 2px solid #ff8a00;
	color: #171d20;
}

.sub-navbar .navbar-search {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 0 0;
	margin: 0 15px;
	cursor: default;
}

.navbar-search.active {
	border-bottom: 2px solid #ff8a00;
}

.navbar-search .navbar-form.search-form {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 0;
}

.sub-navbar .navbar-search .input-group {
	width: 100%;
}

.sub-navbar .navbar-search .input-group input,
.sub-navbar .navbar-search .input-group .input-group-btn {
	box-shadow: none;
	border: none;
	background-color: #ffffff;
}

.sub-navbar .navbar-search .input-group .input-group-btn {
	color: #ff8a00;
	width: 18px;
	padding-right: 0;
}

.user-name {
	max-width: 250px;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.item img {
	min-width: 100%;
}

.time {
	color: #9f9f9f;
}

.logo {
	padding-left: 15px;
}

.wrap:after {
	content: "";
	display: block;
	clear: both;
}

.carousel {
	margin-top: 15px;
}

.carousel-card {
	cursor: pointer;
	padding: 0 18px;
	border-right: dashed 1px #e7e4dc;
	height: 60px;
}

.carousel-card:hover span {
	color: #017ac3;
}

.carousel-caption {
	left: 10%;
	right: 25%;
	top: 30%;
	max-width: 420px;
	bottom: auto;
	background-color: #ffffff;
	filter: alpha(opacity=80);
	opacity: 0.8;
	color: #000000;
	text-shadow: none;
	text-align: left;
	padding: 20px;
}

.carousel-caption:hover,
.carousel-caption:focus {
	text-decoration: none;
}

.carousel-indicators {
	position: relative;
	left: 0;
	bottom: 0;
	text-align: left;
	width: auto;
	min-height: 90px;
	margin: 0;
}

.carousel-indicators .active {
	border-bottom: 2px solid #ff8a00;
	height: 90px;
	width: 20%;
}

.carousel-indicators .active .indicator {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	position: absolute;
	left: calc(50% - 8px);
	top: -10px;
	border-color: transparent transparent #ffffff transparent;
}

.carousel-inner .item {
	height: 400px;
}

.carousel-inner {
	background-color: white;
}

.carousel-control {
	width: 100px;
	bottom: 90px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	text-shadow: none;
	color: #bab6a2;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	filter: none;
	text-shadow: none;
}

.carousel-control span {
	width: 40px;
	height: 57px;
	top: 50%;
	margin-top: -27px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}

.carousel-control:hover,
.carousel-control:focus {
	filter: alpha(opacity=100);
	opacity: 1;
}

.carousel-control.left span {
	left: -19px;
	background: url(../img/sprite-map.png) no-repeat;
	background-position: -370px -324px;
}

.carousel-control.right span {
	right: -19px;
	background: url(../img/sprite-map.png) no-repeat;
	background-position: -370px -257px;
}

.carousel-control.right:hover span {
	background-position: -410px -257px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.carousel-control.left:hover span {
	background-position: -410px -324px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.carousel-indicators-inner {
	display: block;
	position: relative;
	width: 20%;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d3c4;
}

.none-padding {
	padding: 0;
}

.about-project .none-padding {
	padding-right: 25px;
}

.question-card {
	height: 150px;
	border: 1px dashed gray;
	padding: 10px;
}

.inner-box {
	display: block;
	overflow: auto;
	padding: 0;
	margin: 0;
}

.inner-box .icon-chat {
	display: inline-block;
	position: static;
	margin-right: 10px;
	margin-bottom: 2px;
	height: 21px;
	width: 21px;
	background: url("../img/sprite-map.png") no-repeat;
	background-position: -135px -410px;
	vertical-align: middle;
}

.icon-chat-border {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	background: url("../img/sprite-map.png") no-repeat;
	background-position: -110px -411px;
}

.inner-box:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.inner-box-background {
	background: url("../img/question-background.jpg") no-repeat;
	background-size: cover;
}

.inner-box a {
	display: block;
	position: relative;
	padding: 20px;
	height: 180px;
	color: #ffffff;
	filter: alpha(opacity=70);
	opacity: 0.7;
	transition: all 0.5s;
}

.inner-box a:hover {
	text-decoration: none;
	filter: alpha(opacity=100);
	opacity: 1;
}

.inner-box a p {
	max-height: 85px;
	overflow: hidden;
	color: #ffffff;
}

.inner-box a span {
	display: block;
	position: absolute;
	width: calc(100% - 40px);
	bottom: 20px;
	color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inner-box a span img {
	margin-right: 10px;
}

.inner-box a:first-child {
	background-color: #39a3e1;
}

.inner-box a:nth-child(3) {
	background-color: #017bc3;
}

.inner-box a:nth-child(8) {
	background-color: #39a3e1;
}

.inner-box a:nth-child(5) {
	background-color: #ffa02f;
}

.inner-box a:nth-child(2) {
	background-color: #ff8b00;
}

.inner-box a:nth-child(7) {
	background-color: #ff8b00;
}

.inner-box a:nth-child(4) {
	background-color: #66b3e1;
}

.inner-box a:nth-child(6) {
	background-color: #256a92;
}

.margin-bottom {
	margin-bottom: 40px;
}

.question-left-box {
	display: block;
	position: relative;
	margin: 30px 0;
}

.question-right-box {
	display: block;
	position: absolute;
	background-color: #fbf9f4;
	margin: 30px 0;
	text-overflow: ellipsis;
	top: 0;
	right: 15px;
	bottom: 0;
	box-sizing: border-box;
}

.box-title {
	display: block;
	padding: 0 20px;
	background-color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 60px;
}

.box-title .links a:hover {
	text-decoration: none;
	color: #ff8a00;
}

.box-title .links > * {
	padding: 25px 0 5px 20px;
}

.box-title h2 {
	margin: 12px 0;
}

.box-title h2.margin {
	margin: 25px 0 10px;
}

.box-footer {
	display: block;
	clear: both;
	padding: 0 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #ffffff;
	border-right: 1px dashed #e7e4dc;
	min-height: 50px;
	line-height: 50px;
}

.box-footer h4 {
	line-height: 50px;
	margin: 0;
}

.box-footer a:hover,
.box-footer a:focus {
	color: #ff8a00;
	text-decoration: none;
}

.last-questions {
	background-color: #fbf9f4;
	position: absolute;
	top: 60px;
	bottom: 75px;
	list-style: none;
	padding: 15px 20px 0;
	overflow: hidden;
}

.last-questions li {
	padding: 10px 0;
}

.last-questions > li > a:focus {
	color: #171d20;
	text-decoration: none;
}

.last-questions li a:hover {
	text-decoration: none;
	color: #017ac3;
}

.left-panel-title {
	display: block;
	padding: 10px;
	color: #000000;
	background-color: #fbf9f4;
	border-left: 1px dashed #e7e4dc;
	border-bottom: 1px dashed #d6d3c4;
	font-size: 18px;
	height: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-panel-btn {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0 20px;
}

.carousel-indicators-inner:last-child .carousel-card {
	border-right: none;
}

.plan-box {
	display: block;
	position: relative;
	margin-bottom: 25px;
}

.plan-box img {
	width: 100%;
}

.plan-box .btn {
	margin-top: 20px;
}

.plan-box-banner {
	display: block;
	position: absolute;
	top: 60px;
	left: 10%;
	min-height: 150px;
	background-color: #ffffff;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	padding: 20px;
}

.plan-box-banner-after {
	display: block;
	position: absolute;
	top: 60px;
	left: 10%;
	padding: 20px;
}

.plan-box-banner-after .btn-group {
	margin-right: 15px;
}

.banner {
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90px;
	margin-bottom: 45px;
	padding: 10px 10%;
	position: relative;
}

.banner h2,
.banner p {
	display: inline-block;
	color: #ffffff;
	margin: 0;
}

.banner .btn {
	position: absolute;
	right: 10%;
	top: calc(50% - 12px);
	min-height: 0;
	line-height: 24px;
}

.news-box {
	background-color: #ffffff;
}

.news-box .box-title {
	padding: 0;
}

.news-card {
	display: block;
	position: relative;
	padding: 0;
	margin: 0 -5px 40px -5px;
}

.news-card:after {
	display: table;
	content: "";
	clear: both;
}

.news-card li {
	display: block;
	position: relative;
	height: 360px;
	padding: 0 5px;
}

.news-card li img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.news-card-content {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	right: 5px;
	border: 1px solid #f0eee6;
	box-shadow: 0 1px 0 #f0eee6;
	overflow: hidden;
	transition: all 0.3s;
}

.news-card-content:hover {
	box-shadow: 0 0 5px 1px #aeaca4;
	text-decoration: none;
}

.news-card-content:hover p {
	color: #017ac3;
}

.news-card-text {
	position: relative;
	padding: 10px 20px;
}

.news-card-text .time {
	display: block;
	padding-bottom: 10px;
}

.news-card-text p {
	display: block;
}

.about-project-left {
	padding: 25px 0;
}

.about-project-left .img-circle {
	display: block;
	width: 100px;
	height: 100px;
}

.about-project-left h2 {
	margin-top: 0;
}

.about-project-left button {
	margin-top: 10px
}

.about-project-title {
	background-image: url("../../assets/img/orangebackgroun.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -55px;
	min-height: 250px;
	padding: 15px 62px;
}

.about-project-title * {
	color: #ffffff;
}

.about-project-title a {
	text-decoration: underline;
}

.panel-footer {
	background-color: #017ac3;
	color: #ffffff;
	border-bottom: 3px solid #ff8a00;
	padding: 0 0 20px 0;
}

.panel-footer img {
	width: 100%;
}

.panel-footer ul {
	list-style: none;
	padding: 15px 10px 15px 0;
	float: left;
}

.panel-footer ul.col-1 {
	width: 200px;
}

.panel-footer ul.col-2 {
	width: 320px;
}

.panel-footer ul.col-3 {
	width: 180px;
}

.panel-footer .col-4 {
	width: 240px;
}

.panel-footer ul li {
	list-style: none;
	padding: 5px 0;
}

.sub-footer ul li.col-1 {
	width: 200px;
}

.sub-footer ul li.col-2 {
	width: 320px;
}

.panel-footer ul li a,
.sub-footer ul li,
.sub-footer ul > li > a {
	color: #ffffff;
}

.panel-footer ul li h3 {
	margin: 0;
	padding: 5px 0;
}

.sub-footer {
	background-color: #017ac3;
	color: #ffffff;
}

.sub-footer ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;
}

.sub-footer ul li {
	line-height: 34px;
	padding-left: 10px;
}

.footer-logo {
	width: 120px;
	height: 34px;
}

.footer-logo > span {
	display: block;
	width: 120px;
	height: 34px;
	background: url("../img/sprite-map.png") no-repeat;
	background-position: 0 -316px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-1-5 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.clearout {
	height: 20px;
	clear: both;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

.nbs-flexisel-ul {
	position: relative;
	width: 99999px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	overflow: auto;
}

.nbs-flexisel-inner {
	overflow: hidden;
	float: left;
	padding: 0 25px;
	width: 100%;
	margin: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	line-height: 0;
	width: 235px;
}

.logo-slider img {
	width: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 150px;
	max-height: 45px;
	filter: saturate(0%);
	opacity: 0.5;
	-webkit-filter: saturate(0%);
	-moz-filter: saturate(0%);
	-o-filter: saturate(0%);
	transition: all 0.5s;
}

.logo-slider a:hover img {
	opacity: 1;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
}

.logo-slider.plain a {
	width: 100%;
	display: inline-block;
}

.logo-slider.plain li {
	display: inline-block;
	width: 25%;
	overflow: hidden;
}

.logo-slider.plain {
	text-align: center;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 42px;
	height: 59px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	background-size: 200%;
	border: 1px solid #e7e4dc;
}

.nbs-flexisel-nav-left {
	left: 0;
	background: url(../img/sprite-map.png) no-repeat;
	background-position: -370px -324px;
}

.nbs-flexisel-nav-right {
	right: 0;
	background: url(../img/sprite-map.png) no-repeat;
	background-position: -370px -257px;
}

.nbs-flexisel-nav-left:hover {
	background-position: -410px -324px;
}

.nbs-flexisel-nav-right:hover {
	background-position: -410px -257px;
}

/*_____________________________________________experts____________________________________________________*/

.breadcrumb {
	background: none;
	margin-bottom: 0;
	padding: 0 15px;
}

.breadcrumb > li.active + li:before {
	content: "|";
	background: none;
	padding: 0 5px;
	font-size: 14px;
	color: #9f9f9f;
	line-height: 20px;
}

.breadcrumb > li.active:before {
	content: "";
	height: 17px;
	width: 10px;
	display: inline-block;
	background: url("../img/sprite-map.png");
	background-position: -224px -364px;
	margin: 0 5px 0 0;
	font-size: 14px;
	color: #017ac3;
	line-height: 20px;
}

.breadcrumb > li + li:before {
	content: "";
	height: 17px;
	width: 18px;
	margin: 0 5px 0 3px;
	background: url("../img/sprite-map.png");
	background-position: -215px -368px;
	line-height: 20px;
}

.breadcrumb > li > a:hover,
.breadcrumb > li > a:focus {
	color: #017ac3;
	text-decoration: none;
}

.breadcrumb > li.active > a {
	color: #017ac3;
}

.finance-navigation {
	list-style: none;
	background-color: #ffffff;
	padding: 10px;
	overflow: auto;
	margin: 25px 0 0;
}

.finance-navigation > li {
	float: left;
	margin: 5px 5px;
}

.finance-navigation > li > a,
.finance-navigation > li > a:focus {
	padding: 3px 10px;
	border-radius: 2px;
	text-decoration: none;
	color: #171d20;
}

.finance-navigation > li > a:hover {
	text-decoration: none;
	color: #017ac3;
}

.finance-navigation > li.active > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #ff8a00;
}

.experts-box > .bottom-border {
	border-color: #e7e4dc;
}

.experts-box > .bottom-border > a {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 25px;
	text-decoration: none;
	background: none;
	padding: 5px 0;
	min-height: 73px;
}

.experts-box > .bottom-border > a > h2 {
	color: #017ac3;
	margin-bottom: 5px;
}

.experts-box > .bottom-border > a:hover {
	text-decoration: none;
}

.experts-box > .bottom-border > a:hover > h2 {
	color: #ff8a00;
}

.experts-box > .bottom-border > a:active {
	background-color: transparent;
}

.experts-box > .bottom-border > a.active {
	border-bottom: 2px solid #ff8a00;
}

.experts-box > .bottom-border > a.active > h2 {
	color: #171d20;
}

.experts-box .inner {
	margin-top: 20px;
	margin-bottom: 20px;
}

.experts-box .inner .content {
	margin-bottom: 20px;
}

.experts-box .content .btn-link {
	background-color: #fbf9f4;
}

.business-card .img-circle {
	width: 120px;
	height: 120px;
	display: inline-block;
}

.company-card {
	background-color: #ffffff;
	margin: 0;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #e7e4dc;
}

.company-card.expanded {
	border-bottom: none;
	padding-bottom: 0;
}

.company-card > .content > h2 {
	margin: 5px 0 10px;
}

.company-card > .business-card {
	min-height: 150px;
	padding: 15px 0;
}

.company-card > .business-card > a:hover {
	color: #ff8a00;
	text-decoration: none;
}

.company-card .business-card > .phone {
	margin: 15px 0 5px;
}

.company-card .business-card > .phone > span {
	display: block;
	position: relative;
}

.company-card > .content {
	border-left: 1px dashed #e7e4dc;
	min-height: 150px;
}

.experts-box .content a.btn.btn-link.btn-block .show-off {
	display: none;
}

.experts-box .content a.btn.btn-link.btn-block .show-on {
	display: block;
}

.experts-box .content a.btn.btn-link.btn-block.collapsed .show-on {
	display: none;
}

.experts-box .content a.btn.btn-link.btn-block.collapsed .show-off {
	display: block;
}

.experts-group {
	list-style: none;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}

.experts-group > li:last-child {
	border-bottom: 1px solid #d6d3c4;
}

.experts-group > .experts-card {
	margin: 0;
	border-top: 1px dashed #e7e4dc;
}

.experts-group > .experts-card > .business-card {
	border-right: 1px dashed #e7e4dc;
}

.experts-group > .experts-card > .business-card > span {
	display: block;
	text-align: left;
	margin-bottom: 25px;
}

.experts-group > .experts-card > .business-card > p {
	margin: 15px 0;
}

.experts-group > .experts-card > .business-card p > img {
	width: 24px;
}

.experts-group > .experts-card > .business-card,
.experts-group > .experts-card > .content {
	margin: 20px 0;
}

.experts-group > .experts-card > .content > .title {
	margin-bottom: 25px;
}

.experts-group > .experts-card > .content > p,
.experts-group > .experts-card > .content > .title > p,
.experts-group > .experts-card > .content > .title > h4,
.experts-group > .experts-card > .content > ul > li {
	margin: 2px 0 5px;
}

.experts-group > .experts-card > .content > span {
	display: block;
	margin-top: 15px;
}

.experts-group > .experts-card > .content > ul {
	list-style: none;
	padding: 0;
}

.experts-group > .experts-card > .content > ul > li:before {
	content: "";
	display: inline-block;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	background-color: #ff8a00;
	margin-right: 10px;
	vertical-align: middle;
}

.experts-box .content > a.btn-link:last-child {
	border-bottom: 1px solid #d6d3c4;
}

.experts-group > li:first-child + .experts-card .content {
	margin-top: 65px;
}

.experts-box .left-panel {
	margin: 20px 0 20px -20px;
}

.experts-box .left-panel.margin {
	margin-top: 12px;
}

.experts-box .left-panel .block {
	background-color: #fbf9f4;
	margin-bottom: 25px;
	padding-bottom: 20px;
}

.experts-box .left-panel .title {
	height: 60px;
	border-bottom: 1px solid #d6d3c4;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.experts-box .left-panel .title h3 {
	margin: 0 20px;
	line-height: 60px;
}

.experts-box .left-panel .content {
	padding: 0 20px;
}

.experts-box .block .left-panel .content .btn-link {
	margin-top: 20px;
}

a.btn {
	min-height: 14px;
	line-height: 24px;
}

.banner-second {
	background-image: url("../../assets/img/banner2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90px;
	margin: 25px 0 50px;
	padding: 10px 5%;
}

.banner-second h2,
.banner-second p {
	display: inline-block;
	color: #ffffff;
	margin: 0;
}

.banner-second > .btn {
	position: relative;
	bottom: 18px;
	min-width: 125px;
}

.banner-third {
	background-image: url("../../assets/img/banner3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 370px;
	margin: 20px 0;
	padding: 125px 10% 10px;
	width: 100%;
}

.banner-third > h2,
.banner-third > span {
	color: #ffffff;
	margin: 0;
}

.banner-third > .btn {
	margin: 25px 0 0;
}

.checkbox {
	display: block;
	position: relative;
	padding: 3px 0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	cursor: pointer;
	padding-left: 25px;
}

input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 6px;
	background-color: #ffffff;
	height: 16px;
	width: 16px;
	border: 1px solid #ccc8b2;
	border-radius: 2px;
	margin: 0 10px 0 0;
	text-align: center;
	font-family: "slovodelu";
	line-height: 16px;
	font-size: 12px;
}

input[type="checkbox"]:hover + label::before {
	content: 'a';
	color: #d0cfcf;
	background-color: #ffffff;
	border-color: #696868;
}

input[type="checkbox"] + label::before {
	background-position: -38px -260px;
}

input[type="checkbox"]:checked + label::before {
	content: 'a';
	color: #ffffff;
	background-color: #ff8a00;
	border-color: #ff8a00;
	text-align: center;

	font-weight: bold;
}

input[type="checkbox"]:checked + label:hover::before {
	border-color: #e17a00;
}

input[type="checkbox"]:disabled + label::before {

}

input[type="checkbox"]:checked:disabled + label::before {

}

.img-circle {
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

/*-----------------------------------question----------------------------------------------*/
.form-group {
	margin-bottom: 10px;
}

.form-control {
	border-radius: 2px;
	border: 1px solid #ccc8b2;
	resize: none;
	box-shadow: none;
	min-height: 40px;
}

.form-control:hover {
	border-color: #696868;
}

.form-control:focus,
.form-control:active {
	border-color: #017ac3;
	box-shadow: none;
}

.question-form {
	width: 100%;
	padding: 20px;
	background-color: #fbf9f4;
	border-top: 1px solid #e7e4dc;
	border-bottom: 1px solid #d6d3c4;
}

.question-form > .img-circle {
	width: 60px;
	height: 60px;
}

.question-form .margin-form {
	margin-left: 70px;
}

.question-form .settings-form {
	margin: 0 -20px 10px;
	padding: 0 20px 10px;
}

.question-form .settings-form > .btn-group {
	margin-bottom: 15px;
}

.question-form .settings-form .checkbox label:before {
	top: 5px;
}

.question-form .bottom-border + .settings-form {
	margin: 0 -20px;
}

.settings-publication {
	position: relative;
	max-width: 250px;
	display: inline-block;
}

.question-form > .settings-publication {
	line-height: 40px;
}

.question-form > .settings-publication > a > span.dropdown-accessory {
	padding-top: 0;
	line-height: 40px;
}

.question-form .message {
	margin: 0 0 20px;
}

.settings-publication > a.dropdown-toggle,
.settings-publication > a.dropdown-toggle:focus {
	text-decoration: none;
	color: #017ac3;
}

.settings-publication > a.dropdown-toggle:hover {
	text-decoration: none;
	color: #ff8a00;
}

a.dropdown-toggle .pre-accessory {
	padding-right: 5px;
}

.question-list {
	background-color: #ffffff;
	padding: 0 25px;
	counter-reset: myCounter;
	margin: 0;
}

.question-list > li {
	border-top: 1px dashed #e7e4dc;
	list-style: none;
}

.question-list > li:before {
	counter-increment: myCounter;
	content: counter(myCounter);
	color: #ff8a00;
	font-family: PTSansNarrowBold;
	font-size: 26px;
	display: inline-block;
	text-align: center;
	margin: 10px 25px 10px 10px;
	line-height: 42px;
	width: 40px;
	height: 50px;
}

.question-list > li > a,
.question-list > li > a:focus {
	color: #171d20;
	text-decoration: none;
}

.question-list > li > a:hover {
	color: #017ac3;
	text-decoration: none;
}

.question-list > li:first-child {
	border: none;
}

.experts-box .inner .question-form {
	margin-bottom: 25px;
	margin-top: -1px;
}

.popular-question > .box-footer,
.member-questions > .btn-link {
	border-right: none;
	background-color: #fbf9f4;
}

a > span.accessory-refresh,
button > span.accessory-refresh {
	display: inline-block;
	position: relative;
	margin: -5px 0 -5px 5px;
	width: 22px;
	height: 18px;
	background: url("../img/sprite-map.png") no-repeat;
	background-position: -214px -406px;
	rotation: 50deg;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

a:hover > span.accessory-refresh,
button:hover > span.accessory-refresh {
	-webkit-animation-name: rotation;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-animation-name: rotation;
	-moz-animation-duration: .5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: rotation;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

a:hover > span.accessory-refresh,
button:hover > span.accessory-refresh {
	background: url("../img/sprite-map.png") no-repeat;
	background-position: -214px -384px;
}

.member-questions {
	margin: 25px 0;
}

.member-questions .question-form .form-group {
	margin: 0;
}

.member-questions .question-form .input-group input {
	border-radius: 2px;
}

.member-questions .question-form .input-group button {
	margin-left: 10px;
	border-radius: 3px;
	min-width: 85px;
}

.member-questions-list {
	list-style: none;
	padding: 0 20px;
	background-color: #ffffff;
	margin: 0;
}

.member-questions-list > li {
	padding: 19px 0 20px;
	border-top: 1px dashed #e7e4dc;
}

.member-questions-list > li:first-child {
	border: none;
}

.member-questions-list > li > a > .question {
	max-width: 86%;
}

.member-questions-list > li > a:hover > .question > p.main-style-text {
	color: #ff8a00;
}

.member-questions-list > li > a > .question > p {
	margin: 5px 0;
}

.member-questions-list > li > a > .question > p > span {
	margin-right: 15px;
}

.member-questions-list > li:nth-child(3n+1) > a > .img-circle,
.question-line:nth-child(3n+1) > .question-column > .img-circle {
	background-color: #ffa27a;
}

.member-questions-list > li:nth-child(3n+2) > a > .img-circle,
.question-line:nth-child(3n+2) > .question-column > .img-circle {
	background-color: #8cddf3;
}

.member-questions-list > li:nth-child(3n+3) > a > .img-circle,
.question-line:nth-child(3n+3) > .question-column > .img-circle {
	background-color: #ffe27a;
}

.member-questions-list > li > a > .img-circle {
	width: 60px;
	height: 60px;
	margin-right: 20px;
}

.experts-panel {
	background-color: #ffffff;
}

.experts-panel > .item-list {
	list-style: none;
	padding: 0 20px;
}

.experts-panel > .item-list.padding {
	padding-bottom: 20px;
}

.experts-panel > .item-list > li {
	padding: 30px 0 0;
	border-top: 1px dashed #e7e4dc;
}

.experts-panel > .item-list > li.top-padding {
	padding-top: 20px;
}

.experts-panel > .item-list > li:first-child {
	border-top: none;
}

.experts-panel > .item-list > li img {
	width: 130px;
	margin-bottom: 10px;
}

.experts-panel > .item-list > li > a,
.experts-panel > .item-list > li > a:focus {
	display: block;
	color: #017ac3;
	text-decoration: none;
	margin-bottom: 15px;
}

.experts-panel > .item-list > li > a.bottom-margin {
	margin-bottom: 30px;
}

.experts-panel > .item-list > li + a:last-child {
	margin-bottom: 30px;
}

.experts-panel > .item-list > li > a:hover {
	color: #ff8a00;
	text-decoration: none;
}

/*--------------------------------------question-card-------------------------------------------*/

.left-panel .spacer {
	height: 72px;
}

.question-chat {
	margin: 30px 0 0;
	background-color: #ffffff;
	padding: 10px 20px;
	list-style: none;
}

.question-chat > li {
	position: relative;
	padding: 10px 0;
	transition: all 1s;
}

.question-chat > li > .img-circle {
	width: 60px;
	height: 60px;
	float: left;
}

.question-chat > li.answer > .popup {
	display: none;
	width: 90%;
	position: absolute;
	top: 85px;
	left: 0;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, .25);
	z-index: 1;
	transition-duration: 1.3s;
}

.question-chat > li.answer > .popup.show {
	display: block;
}

.question-chat > li.answer > .popup > .title {
	width: 60%;
	border-right: 1px dashed #e7e4dc;
}

.question-chat > li.answer > .popup h4,
.question-chat > li.answer > .popup p {
	margin: 0;
}

.question-chat > li.answer > .popup h4 {
	margin-bottom: 10px;
}

.question-chat > li.answer > .popup h4 > a,
.question-chat > li.answer > .popup h4 > a:focus {
	color: #017ac3;
	text-decoration: none;
}

.question-chat > li.answer > .popup h4 > a:hover {
	text-decoration: none;
	color: #ff8a00;
}

.question-chat > li.answer > .popup > img {
	width: 130px;
	margin: 10px 0 10px 40px;
}

.question-chat > li.answer > .popup .btn-close {
	position: absolute;
	display: none;
	min-height: 20px;
	top: 10px;
	height: 14px;
	width: 14px;
	right: 0;
	font-family: fantasy;
	font-size: 22px;
	color: #171d20;
	line-height: 1;
	background: url("../img/close.png") no-repeat;
}

.question-chat > li.answer > .popup .btn-close:hover {
	background: url("../img/close-active.png") no-repeat;
}

.question-chat > li.answer > .popup > .accessory {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	position: absolute;
	left: 22px;
	top: -10px;
	border-color: transparent transparent #ffffff transparent;
}

.question-chat > li > .dialog {
	padding: 20px;
	margin-left: 70px;
	border-radius: 0 10px 10px 10px;
}

.question-chat > .level-1 {
	margin-left: 70px;
}

.question-chat > .level-2 {
	margin-left: 140px;
}

.question-chat > .level-3 {
	margin-left: 210px;
}

.question-chat > .level-4 {
	margin-left: 280px;
}

.question-chat > li.answer > .dialog > .title > h4,
.question-chat > li.answer > .img-circle {
	cursor: pointer;
}

.question-chat > li.answer > .dialog > .title > h4:hover {
	color: #017ac3;
}

.question-chat > li > .dialog > .title > h4 {
	display: inline-block;
	margin: 0 20px 20px 0;
}

.question-chat > li > .dialog > ul {
	list-style: disc;
	padding: 15px 15px 0;
}

.question-chat > li.bg-author > .dialog {
	background-color: #edf6fb;
}

.question-chat > li.bg-expert > .dialog {
	background-color: #fff3e5;
}

.question-chat > li.bg-user > .dialog {
	background-color: hsla(293, 100%, 98%, 1);
}

.answer-reply {
	display: none;
	float: right;
	border-bottom: 1px dotted;
	text-decoration: none;
}

.dialog:hover .answer-reply {
	display: inline-block;
	text-decoration: none;
}

.author-questions {
	background-color: #fbf9f4;
	padding: 20px;
	margin: 30px 0;
}

.author-questions > h2 {
	margin: 0 0 15px;
	line-height: 1;
}

.author-questions > p {
	margin: 0 0 25px;
	line-height: 1;
}

.author-questions > .btn-primary {
	font-family: "PT Sans";
}

.question-form > h2 {
	margin: 0 0 20px;
	line-height: 1;
}

.question-form.margin-bottom {
	margin-bottom: 50px;
}

.question-author {
	background-color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.question-author > .title {
	height: 50px !important;
}

.question-author > .title > h3 {
	margin: 0;
	line-height: 50px !important;
}

.question-author > .img-circle {
	width: 60px;
	height: 60px;
	margin: 15px 0 0;
	display: inline-block;
}

.company-experts {
	list-style: none;
	padding: 0 20px 10px;
	background-color: #fbf9f4;
	border-top: 1px solid #e7e4dc;
}

.company-experts-list {
	margin: 0 -20px;
}

.company-experts > li {
	padding-top: 20px;
	border-top: 1px dashed #e7e4dc;
}

.company-experts > li:first-child {
	border-top: none;
}

.company-experts > li > .img-circle {
	width: 60px;
	height: 60px;
	display: inline-block;
}

.company-experts-list > a {
	min-height: 38px;
	line-height: 38px;
	color: #017ac3;
	background-color: #fbf9f4;
	border-top: 1px solid #e7e4dc;
	border-bottom: 1px solid #d6d3c4;
	margin-bottom: -1px;
}

.company-experts-list > a:hover {
	color: #ff8a00;
	text-decoration: none;
}

.modal {
	width: 755px;
	padding: 0;
	position: absolute;
}

.modal .settings-form {
	margin-bottom: 20px;
}

.modal .btn-close {
	position: absolute;
	min-height: 20px;
	top: 10px;
	height: 14px;
	width: 14px;
	right: 0;
	font-family: fantasy;
	font-size: 22px;
	color: #171d20;
	line-height: 1;
	background: url("../img/close.png") no-repeat;
}

.modal .btn-close:hover {
	-webkit-filter: brightness(7);
}

.modal .btn-group {
	margin-bottom: 10px;
}

.modal-backdrop {
	position: absolute;
}

.modal-open {
	position: relative;
	overflow: auto;
}

.modal .profile-settings {
	margin: 0;
}

/*------------------------------------------profile messages----------------------------------------*/

.profile > h1 > a {
	color: #017ac3;
	margin-left: 30px;
}

.profile > h1 > a:hover {
	text-decoration: none;
	color: #ff8a00;
}

.profile > h1 > a > span {
	padding-right: 10px;
}

.my_questions {
	margin: 30px 0 50px;
}

.my_questions > button.btn-link {
	border-top: 1px solid #e7e4dc;
	background-color: #fbf9f4;
}

.my_questions-list {
	padding: 0;
	list-style: none;
	background-color: #ffffff;
	margin: 0;
}

.question-line {
	padding: 20px 0;
	margin: 0 20px;
	border-top: 1px dashed #e7e4dc;
}

.question-line p {
	margin: 0;
}

.question-line:first-child {
	border-top: none;
}

.question-column {
	display: table;
	padding: 0;
}

.question-column > a:hover,
.question-column > a:hover > p {
	color: #017ac3;
	text-decoration: none;
}

.id-question {
	display: table-cell;
	min-width: 90px;
	vertical-align: middle;
}

.question-line.active > .question-column > a > .question-title {
	font-family: "PT Sans Bold";
	font-size: 18px;
}

.question-line.active > .question-column > .count {
	color: #ff8a00;
	background: url("../img/sprite-map.png") no-repeat 0;
	background-position: -170px -411px;
	background-size: 24px;
	padding-left: 30px;
}

.question-line.active > .question-column > .count > .icon-chat-border {
	background: url("../img/sprite-map.png") no-repeat 0;
	background-position: -170px -411px;
	position: absolute;
	left: 0;
}

.question-title {
	font-family: "PT Sans";
	font-size: 18px;
	color: #171d20;
	line-height: 24px;
}

.count {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
}

.count > img {
	width: 24px;
	margin-right: 5px;
}

.question-column > * {
	display: table-cell;
	vertical-align: middle;
}

.question-column > .img-circle {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	text-align: center;
}

.question-column > a > h4 {
	padding-left: 20px;
}

.question-column > a:hover > h4 {
	color: #017ac3;
}

.question-column > .img-circle > img {
	width: 60px;
}

/*----------------------------------------------profile settings--------------------------------*/
.profile-settings {
	margin: 20px -20px 50px 0;
}

.profile-settings-form {
	padding: 15px 50px;
	background-color: #ffffff;
}

.profile-settings-form > h3 {
	margin: 35px 0;
	line-height: 1;
}

.profile-settings-form .form-horizontal {
	position: relative;
}

.profile-settings-form > .form-horizontal.padding-bottom {
	padding-bottom: 15px;
}

.profile-settings-form > .form-horizontal > .form-group > label {
	text-align: left;
	font-family: "PT Sans Bold";
	font-size: 14px;
	color: #171d20;
	font-weight: 500;
}

.profile-settings-form > .form-horizontal > .form-group > div {
	margin: 0 -15px;
	width: 300px;
}

.profile-settings-form > .form-horizontal > .form-group button {
	margin-top: 10px;
}

.profile-settings-form .bx-authform-social ul {
	margin: 0;
	padding: 0;
}

.profile-image {
	position: absolute;
	top: 0;
	right: 0;
}

.profile-image .img-circle {
	width: 120px;
	height: 120px;
	display: inline-block;
}

.profile-image .add-image {
	position: absolute;
	background: rgba(1, 122, 195, 0.43);
	width: 120px;
	height: 120px;
	display: block;
	border-radius: 3px;
	font-size: 60px;
	line-height: 110px;
	vertical-align: middle;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.2;
	transition: opacity 150ms linear;
}

.profile-image input {
	opacity: 0;
	width: 5px;
	visibility: hidden;
}

.profile-image .add-image.active {
	opacity: 0;
}

.profile-image .add-image:hover {
	opacity: 1;
}

/*---------------------------------------------news----------------------------------------*/
.news > h1 {
	margin: 10px 0 30px;
	line-height: 1;
}

.news > .news-card {
	margin-bottom: 10px;
}

.news > .news-card > li > .news-card-content {
	background-color: #ffffff;
	border-bottom: 1px solid #d6d3c4;
}

.news-card > li > .news-card-content.video .news-card-text:before {
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 15px;
	width: 20px;
	height: 13px;
	background-image: url("../img/sprite-map.png");
	background-position: -55px -417px;
}

.news-card > li > .news-card-content.camera .news-card-text:before {
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 12px;
	width: 20px;
	height: 16px;
	background-image: url("../img/sprite-map.png");
	background-position: 0 -414px;
}

.news-page {
	padding: 10px 20px 20px;
	background-color: white;
	margin: 20px 0;
}

.page-white {
	padding: 20px 20px;
	background-color: white;
	margin: 0;
}

.banner-forth {
	background-image: url("../img/banner4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 244px;
	margin: 30px 0;
	padding: 55px 8% 10px;
	width: 100%;
}

.banner-forth > .content {
	background-color: rgba(231, 237, 241, 0.9);
	padding: 10px 20px;
	max-width: 70%;
}

.banner-forth > .content > p {
	margin: 10px 0 20px;
}

.banner-forth > .content .input-group-btn > button {
	margin-left: 10px;
	border-radius: 3px;
}

.pagination {
	margin: 20px 0 40px;
	height: 40px;
}

.pagination > li > a {
	width: 40px;
	height: 40px;
	border-radius: 3px !important;
	margin-right: 5px;
	line-height: 40px;
	padding: 0;
	color: #017ac3;
	background-color: #f0eee6;
	font-family: "PT Sans Bold";
	font-size: 14px;
	border-color: #78b4d4;
}

.pagination > li > a > span.glyphicon {
	font-size: 12px;
}

.pagination > li > a:hover {
	color: #ff8a00;
	border-color: #ff8a00;
}

.pagination > li.active > a {
	background-color: #ff8a00;
	color: #ffffff;
	border-color: #ff8a00;
}

.pagination > li.hidden-page > a {
	border: none;
	width: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px), only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px), only screen and (                min-resolution: 192dpi) and (min-width: 320px), only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

	/* Small screen, retina, stuff to override above media query */
	.header-navbar .navbar-brand {
		width: 121px;
		height: 70px;
		background-position: 0 -150px;
	}

	.carousel-control.left span {
		left: -19px;
		background-position: -370px -324px;
	}

	.carousel-control.right span {
		right: -19px;
		background-position: -370px -257px;
	}

	.carousel-control.right:hover span {
		background-position: -410px -257px;
	}

	.carousel-control.left:hover span {
		background-position: -410px -324px;
	}

	.inner-box .icon-chat {
		height: 21px;
		width: 21px;
		background-position: -135px -410px;
	}

	.icon-chat-border {
		width: 24px;
		height: 24px;
		background-position: -110px -411px;
	}

	.footer-logo > span {
		width: 120px;
		height: 34px;
		background-position: 0 -316px;
	}

	.nbs-flexisel-nav-left {
		background-position: -370px -324px;
	}

	.nbs-flexisel-nav-right {
		background-position: -370px -257px;
	}

	.nbs-flexisel-nav-left:hover {
		background-position: -410px -324px;
	}

	.nbs-flexisel-nav-right:hover {
		background-position: -410px -257px;
	}

	.breadcrumb > li.active:before {
		height: 17px;
		width: 10px;
		background-position: -224px -364px;
	}

	.breadcrumb > li + li:before {
		height: 17px;
		width: 18px;
		background-position: -215px -368px;
	}

	.question-line.active > .question-column > .count {
		background-position: -170px -411px;
	}

	.question-line.active > .question-column > .count > .icon-chat-border {
		background-position: -170px -411px;
	}
}
