/* Стили для карточки мероприятия */
.schedule-template > ul > li {
    display: table;
	padding-bottom: 10px;
}

.schedule-template > ul > li > span {
    display: table-cell;
    padding: 5px 0;
}

.schedule-template > ul > li > span:first-child {
    width: 100px;
    font-weight: bold;
}

.schedule-template > ul > li > span:last-child {
    padding-left: 15px;
    text-align: justify;
    border-left: 1px dashed #e7e4dc;
}

.schedule-template > ul > li:first-child > span {
    padding-top: 0;
}

.schedule-template > ul > li:last-child > span {
    padding-bottom: 0;
}

.event-subscribe > form > .form-group label {
    padding-top: 7px;
}

.event-subscribe .btn-group.full-width,
.event-subscribe .btn-group > button.full-width {
    width: 100%;
}

.event-subscribe .message {
	padding: 20px 0;
}

.carousel-caption {
    opacity: 1;
    background: none;
}
.carousel-caption:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.8;
    z-index: -1;
}

.event-form .message {
	padding: 40px 20px;
}

.bb:after {
	display: block;
	content: '';
	padding: 10px 0;
	margin: 10px -20px 20px;
	border-bottom: 1px dashed #d6d3c4;
}